html {
  overflow-y: hidden;
}

.container {
  height: 100%;

  .wrapper {
    $desc_width: 30%;
    
    margin: 0;
    /* FIXME full height */
    width: 100%;
    
    #description, #main-board {
      box-sizing: border-box;
      height: 1000px;
    }

    #description {
      float: left;
      width: $desc_width;
      padding: 0;

      background-color: #fff;

      header {
        padding: 2px 0 6px 0;

        background-color: #efefef;
        border-bottom: 1px solid #c7c7c7;
        box-shadow: 1px 0 2px rgba(237, 237, 237, 0.42);

        h1 {
          margin: 5px 0;

          font-size: 22px;
          line-height: 22 * 2px;
          font-weight: 400;
          text-align: center;
          color: #222;
        }
      }

      article {
        padding: 0 15px;

        p {
          font-size: 15px;
          line-height: 15 * 1.5px;
        }
      }
    }

    #main-board {
      float: left;
      width: 100 - $desc_width;

      background-color: #232c31;

      #editor {
        width: 100 - $desc_width;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0;
        padding: 0;

        font-size: 16px;

      }
    }
  }
}

.clearfix {
  content: "";
  display: table;

  &:after {
    clear: both;
  }
}
